*{
    margin:0;
    padding:0;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items:center;
    height: auto;
    margin-top: 10%;
}
.progress-container{
    width: 25%;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    padding: 10px; 
    box-sizing: border-box; 
}
.show{
    background-color: green;
}

.steps, button{
    width: 50px;
    height:50px;
    border-radius: 50%;
    margin-left: auto;
}
@keyframes anim {
    100%{
        content:"Animation Complete";
        width: 0%;
    }
    75%{
        width: 25%;
    }
    50%{
        width: 50%;
    }
    25%{
        width: 75%;
    }
    0%{
       content: "";
        width: 100%;
    }
}
#next{
    width: 100px;
    height: 100px;
 transform: translate(-50%, -50%);
 margin: 20% 20% 30% 80%;
 }